{% extends 'authentication/layout/layout.html' %}

{% block title %}Home{% endblock title %}

{% load static %} 

{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/css/home.css' %}" />
{% endblock link %}

{% block body %}
    <div class="content">
        <h1>Welcome to Doc.AI</h1>
        <p>Snap, Click, Report! Your medical results delivered pronto!</p>
        <div class="buttons">
            <a class="spacex-button" href="{% url 'customer-login' %}">Login As Customer</a>
            <a class="spacex-button" href="{% url 'doctor-login' %}">Login As Doctor</a>
        </div>
    </div>
{% endblock body %}

{% block script %}
    
{% endblock script %}