{% extends 'authentication/layout/layout.html' %}
{% load static %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'authentication/css/customer-login.css' %}" />
{% endblock link %}

{% block title %}Signup{% endblock title %}

{% block body %}
    <div class="ring">
        <i style="--clr:#00ff0a;"></i>
        <i style="--clr:#ff0057;"></i>
        <i style="--clr:#fffd44;"></i>
        <div class="login" style="transform: translateY(-10px)">
            <h2>Signup</h2>
            <form method="post" action="{% url 'signup' %}">
                {% csrf_token %}
                <div class="inputBx">
                    <input type="text" name="username" placeholder="Username">
                </div>
                <br>
                <div class="inputBx">
                    <input type="password" name="password" placeholder="Password">
                </div>
                <br>
                <div class="inputBx">
                    <input type="email" name="email" placeholder="Email">
                </div>
                <br>
                <div class="inputBx">
                    <input type="submit" value="Sign up">
                </div>
            </form>
            <div class="links">
                <span style="color: white;">Already Have Account?</span>
                <span style="color: white;">Log in as</span>
            </div>
            <div class="links">
                <a href="{% url 'customer-login' %}">Customer</a>
                <a href="{% url 'doctor-login' %}">Doctor</a>
            </div>
        </div>
    </div>
{% endblock body %}
