.right_container_test_detail_bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 0;
}

.right_container_test_detail_bottom_applicants {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 95%;
    border: 1px solid black;
    padding: 0px 0 30px 0;
    border-radius: 12px;
    font-size: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Box shadow added */
}

.applications_table {
    text-align: center;
    width: 100%;
    font-size: 18px;
    border-spacing: 0px 15px;
}

.applications_heading {
    width: 25%;
    font-weight: 700;
}

.applicantion_delete {
    text-decoration: none;
    font-size: 18px;
    color: rgb(236, 113, 113);
    border: 1px solid rgb(236, 113, 113);
    padding: 5px 15px;
    border-radius: 5px;
}

.applicantion_delete:hover {
    background: rgb(236, 113, 113);
    color: white;
    cursor: pointer;
}