.dataTables_length label {
    float: left;
    text-align: left;
  }
  
  .dataTables_length select {
    width: 75px;
  }
  
  .dataTables_filter label {
    float: right;
  }
  
  .dataTables_info {
    padding-top: 26px;
  }
  
  .dataTables_paginate {
    float: right;
    margin: 0;
  }
  
  table.table {
    clear: both;
    margin-bottom: 6px !important;
    max-width: none !important;
  }
  
  table.table thead {
    .sorting,
    .sorting_asc,
    .sorting_desc,
    .sorting_asc_disabled,
    .sorting_desc_disabled {
      cursor: pointer;
    }
    .sorting {
      background: url('../images/sort_both.png') no-repeat center right;
    }
    .sorting_asc {
      background: url('../images/sort_asc.png') no-repeat center right;
    }
    .sorting_desc {
      background: url('../images/sort_desc.png') no-repeat center right;
    }
    .sorting_asc_disabled {
      background: url('../images/sort_asc_disabled.png') no-repeat center right;
    }
    .sorting_desc_disabled {
      background: url('../images/sort_desc_disabled.png') no-repeat center right;
    }
  }
  
  table.dataTable th:active {
    outline: none;
  }
  
  /* Scrolling */
  .dataTables_scrollHead table {
    margin-bottom: 0 !important;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  }
  
  .dataTables_scrollHead table thead tr:last-child {
    th:first-child,
    td:first-child {
      border-bottom-left-radius: 0 !important;
      border-bottom-right-radius: 0 !important;
    }
  }
  
  .dataTables_scrollBody table {
    border-top: none;
    margin-bottom: 0 !important;
  }
  
  .dataTables_scrollBody table tbody tr:first-child {
    th,
    td {
      border-top: none;
    }
  }
  
  .dataTables_scrollFoot table {
    border-top: none;
  }
  
  /* TableTools styles */
  .table tbody tr.active {
    td,
    th {
      background-color: #08C;
      color: white;
    }
  }
  
  .table-striped tbody tr.active:nth-child(odd) {
    td,
    th {
      background-color: #017ebc;
    }
  }
  
  table.DTTT_selectable tbody tr {
    cursor: pointer;
  }
  
  .DTTT .btn {
    color: #333 !important;
    font-size: 12px;
  }
  
  ul.DTTT_dropdown.dropdown-menu li:hover a {
    background-color: #0088cc;
    color: white !important;
  }
  
  /* TableTools information display */
  .DTTT_print_info.modal {
    height: 150px;
    margin-top: -75px;
    text-align: center;
  }
  
  .DTTT_print_info.modal h6 {
    font-weight: normal;
    font-size: 28px;
    line-height: 28px;
    margin: 1em;
  }
  
  .DTTT_print_info.modal p {
    font-size: 14px;
    line-height: 20px;
  }
  
  /* FixedColumns styles */
  div.DTFC_LeftHeadWrapper table,
  div.DTFC_LeftFootWrapper table,
  table.DTFC_Cloned tr.even {
    background-color: white;
  }
  
  div.DTFC_LeftHeadWrapper table {
    margin-bottom: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  
  div.DTFC_LeftHeadWrapper table thead tr:last-child th:first-child,
  div.DTFC_LeftHeadWrapper table thead tr:last-child td:first-child {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
  }
  
  div.DTFC_LeftBodyWrapper table {
    border-top: none;
    margin-bottom: 0 !important;
  }
  
  div.DTFC_LeftBodyWrapper table tbody tr:first-child th,
  div.DTFC_LeftBodyWrapper table tbody tr:first-child td {
    border-top: none;
  }
  
  div.DTFC_LeftFootWrapper table {
    border-top: none;
  }
  