{% extends 'docAI/layout/doctorLayout.html' %}
{% load static %} {% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'docAI/doctor_dashboard.css' %}" />
{% endblock link %} {% block title %}Dashboard{% endblock title %} 

{% block body %}
  {% comment %} <div style="display: flex; justify-content: space-evenly; width: 100%">
    {% for test in assigned_tests %}
      <div style="height: 40px; width: 80px;">
        <a href="{% url 'doctor_test_detail' test.id %}">{{ test.name }}</a>
        <br>
        <span>{{ test.description }}</span>
      </div>
    {% endfor %}
  </div> {% endcomment %}
{% endblock body %}

{% block script %}
{% endblock script %}