{% extends 'docAI/layout/doctorLayout.html' %}
{% load static %}
{% load plotly_dash %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'docAI/doctor_applicant_report.css' %}" />
{% endblock link %}

{% block style %}
    <style>
        .parent_container {
            display: flex;
            align-items: center; 
            flex-direction: column;
            margin-top: 10px;
        }

        .parent_container_top {
            display: flex;
            justify-content: space-between;
            align-items: center; 
            width: 90%;
            transform: translateY(-40%);
        }

        .report_area {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 30px 10px 30px;
            width: 90%;
            height: 80vh;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
        }

        .report_card::-webkit-scrollbar {
            display: none;
        }

        .report_submit_buttons {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
        }
    </style>
{% endblock style %}

{% block title %}
    Report {{ report.id }} 
{% endblock title %}

{% block body %}

    <div class="right_container_top">
        <div class="right_container_top_left">
            <h1>Report</h1>
        </div>
        <div class="right_container_top_right">
            <a href="{% url 'doctor_chat_view' receiver.id %}" style="text-decoration: none; color: #34495e; border: 1px solid #34495e; margin: 0 10px;">Chat With {{ receiver.username }}</a>
            <a href="{% url 'logout' %}" style="text-decoration: none; color: #34495e; border: 1px solid #34495e;">Logout</a>
        </div>
    </div>
    <div class="parent_container">
        <div class="report_area">
            <div class="progress-container">
                <div class="progress" id="progress"></div>
                <div class="text-wrap active">
                    <div class="circle">1</div>
                    <p class="text">Submission</p>
                </div>
                <div class="text-wrap">
                    <div class="circle">2</div>
                    <p class="text">Evaluation</p>
                </div>
                <div class="text-wrap">
                    <div class="circle">3</div>
                    <p class="text">Completion</p>
                </div>
            </div>
            {% if report.status == 'submission' or report.status == 'Submission' %}
                <div class="report_data_table">
                    <table>
                        <thead>
                            <tr>
                                <th class="report_data_table_head">Parameter</th>
                                <th class="report_data_table_head">Value</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if test.type == 'blood' %}
                            <tr>
                                <td>RBC Result</td>
                                <td><input type="text" name="RBC_result" value="{{ report.RBC_result }}"></td>
                            </tr>
                            <tr>
                                <td>PCV_result</td>
                                <td><input type="text" name="PCV_result" value="{{ report.PCV_result }}"></td>
                            </tr>
                            <tr>
                                <td>WBC_result</td>
                                <td><input type="text" name="WBC_result" value="{{ report.WBC_result }}"></td>
                            </tr>
                            <tr>
                                <td>Neutrophils_result</td>
                                <td><input type="text" name="Neutrophils_result" value="{{ report.Neutrophils_result }}"></td>
                            </tr>
                            <tr>
                                <td>Lymphocytes_result</td>
                                <td><input type="text" name="Lymphocytes_result" value="{{ report.Lymphocytes_result }}"></td>
                            </tr>
                            <tr>
                                <td>Eosinophils_result</td>
                                <td><input type="text" name="Eosinophils_result" value="{{ report.Eosinophils_result }}"></td>
                            </tr>
                            <tr>
                                <td>Monocytes_result</td>
                                <td><input type="text" name="Monocytes_result" value="{{ report.Monocytes_result }}"></td>
                            </tr>
                            <tr>
                                <td>Basophils_result</td>
                                <td><input type="text" name="Basophils_result" value="{{ report.Basophils_result }}"></td>
                            </tr>
                            <tr>
                                <td>Platelet_count</td>
                                <td><input type="text" name="Platelet_count" value="{{ report.Platelet_count }}"></td>
                            </tr>
                            <tr>
                                <td>hemoglobin_result</td>
                                <td><input type="text" name="hemoglobin_result" value="{{ report.hemoglobin_result }}"></td>
                            </tr>
                            <tr>
                                <td>blood_pressure_result</td>
                                <td><input type="text" name="blood_pressure_result" value="{{ report.blood_pressure_result }}"></td>
                            </tr>
                            <tr>
                                <td>cholesterol_level_result</td>
                                <td><input type="text" name="cholesterol_level_result" value="{{ report.cholesterol_level_result }}"></td>
                            </tr>
                            {% else %}
                                <tr></tr>
                                <tr></tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            {% elif report.status == 'evaluation' or report.status == 'Evaluation' %}
                <div>

                </div>
            {% else %}
                <div>

                </div>
            {% endif %}
            <div class="report_submit_buttons">
                <button class="btn" id="back" disabled>&larr; Back</button>
                <button class="btn" id="next">Next &rarr;</button>
            </div>
        </div>
    </div>
{% endblock body %}

{% block script %}
    <script>
        const progress = document.getElementById('progress')
        const back = document.getElementById('back')
        const next = document.getElementById('next')
        const wraps = document.querySelectorAll('.text-wrap')
        let currentActive = 1

        const reportStatus = "{{ report.status }}";

        if (reportStatus === 'evaluation' || reportStatus === 'Evaluation') {
            currentActive = 2;
        } else if (reportStatus === 'completion' || reportStatus === 'Completed') {
            currentActive = 3;
        }

        update();


        next.addEventListener('click', () => {
            currentActive++
            if(currentActive > wraps.length) {
                currentActive = wraps.length
            }

            update()
        })

        back.addEventListener('click', () => {
            currentActive--
            if(currentActive < 1) {
                currentActive = 1
            }

            update()
        })

        function update() {
            wraps.forEach((wrap, index) => {
                if(index < currentActive) {
                    wrap.classList.add('active')
                } else {
                    wrap.classList.remove('active')
                }
            })

            const actives = document.querySelectorAll('.active')
            progress.style.width = (actives.length - 1) / (wraps.length - 1)* 80 + '%'

            if(currentActive === 1) {
                back.disabled = true
            } else if(currentActive === wraps.length) {
                next.disabled = true
            } else {
                back.disabled = false
                next.disabled = false
            }
        }
    </script>
    {% comment %} <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> {% endcomment %}
    {% comment %} <script>
        $(document).ready(function(){
            $('#message-form').submit(function(event){
                event.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: window.location.href,
                    data: formData,
                    success: function(response){
                        if (response && response.content) {
                            var newMessage = '<div class="message sent">' + response.content + '</div>';
                            $('.message-container').append(newMessage);
                            $('#message-input').val(''); 
                            $('.message-container').scrollTop($('.message-container')[0].scrollHeight);
                        } else {
                            console.log(response)
                            console.log('Invalid response from server');
                        }
                    },
                    error: function(xhr, errmsg, err){
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });
            });
        });

        const fetchMessages = () => {
            $.ajax({
                type: 'GET',
                url: window.location.href,
                success: function(response) {
                    const $responseContainer = $('<div>').html(response);
                        const $messageContainer = $responseContainer.find('.message-container');
                        const $currentMessageContainer = $('.message-container');
                        
                        const newMessagesAdded = $currentMessageContainer.html() !== $messageContainer.html();
                        $currentMessageContainer.html($messageContainer.html());
                        
                        if (newMessagesAdded) {
                            $currentMessageContainer.scrollTop($currentMessageContainer[0].scrollHeight);
                        }
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        };

        setInterval(fetchMessages, 5000);
    </script> {% endcomment %}
{% endblock script %}
