{% comment %} {% extends 'docAI/layout/doctorLayout.html' %} {% endcomment %}
{% load static %}
{% load plotly_dash %}

{% block link %}
    <link rel="stylesheet" type="text/css" href="{% static 'docAI/doctor_applicant_report.css' %}" />
{% endblock link %}

{% block style %}
    <style>
        /*
            Hide the scrollbar
        */
        .report_card::-webkit-scrollbar {
            display: none;
        }
        .parent_container {
            display: flex;
            align-items: center; 
            flex-direction: column;
            margin-top: 10px;
        }
        .parent_container_top {
            display: flex;
            justify-content: space-between;
            align-items: center; 
            width: 90%;
            transform: translateY(-40%);
        }
        .report_area {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 20px 30px 10px 30px;
            width: 90%;
            box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
            overflow-y: auto;
        }
        .report_card::-webkit-scrollbar {
            display: none;
        }
        .report_data_table{
            min-height: 300px
        }
        .report_submit_buttons {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
        }
    </style>
{% endblock style %}

{% block body %}
    <div class="parent_container">
        <div class="report_area">
            <div style="padding: 10px 20px; display: flex; justify-content: space-between; align-items: center; width: 100%; background-color: #f2f2f2; border-radius: 8px;">
                <span style="text-decoration: underline; font-size: 30px; align: center; font-weight: 700;">DocAI Report ({{ test.type }} test) </span>
                <div style="height: 80px; width: 80px;">
                    <img src="{% static 'docAI/logo.jpeg' %}" alt="DocAI" style="height: 100%; width: 100%; border-radius: 50%;">
                </div>
            </div>
            <div style="display: flex; justify-content: center; align-items: center; width: 100%; border-bottom: 1px solid black;">
                <h1>Credentials</h1>
            </div>
            <div class="report_data_table">
                <table style="text-align: center; width: 100%;">
                    <thead>
                        <tr>
                            <th class="report_data_table_head" style="width: 50%; text-align: center;">Include/Exclude</th>
                            <th class="report_data_table_head" style="width: 50%; text-align: center;">Information</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if request.user.user_type == 'doctor' %}
                            <tr>
                                <td>Customer Name</td>
                                <td>{{ receiver.username }}</td>
                            </tr>
                            <tr>
                                <td>Customer Email</td>
                                <td>{{ receiver.email }}</td>
                            </tr>
                            <tr>
                                <td>Doctor Name</td>
                                <td>{{ request.user.username }}</td>
                            </tr>
                            <tr>
                                <td>Doctor Email</td>
                                <td>{{ request.user.email }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Customer Name</td>
                                <td>{{ request.user.username }}</td>
                            </tr>
                            <tr>
                                <td>Customer Email</td>
                                <td>{{ request.user.email }}</td>
                            </tr>
                            <tr>
                                <td>Doctor Name</td>
                                <td>{{ test.assigned_to.username }}</td>
                            </tr>
                            <tr>
                                <td>Doctor Email</td>
                                <td>{{ test.assigned_to.email }}</td>
                            </tr>
                        {% endif %}
                        <tr>
                            <td>
                                <span>
                                    Institution
                                </span>
                            </td>
                            <td>IIT Roorkee</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div style="display: flex; justify-content: center; align-items: center; width: 100%; border-bottom: 1px solid black;">
                <h1>Results</h1>
            </div>
            <div class="report_data_table">
                <table style="text-align: center; width: 100%;">
                    <thead>
                        <tr>
                            <th class="report_data_table_head" style="width: 50%; text-align: center;">Include/Exclude</th>
                            <th class="report_data_table_head" style="width: 50%; text-align: center;">Information</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% if test.type == 'blood' %}
                            <tr>
                                <td>RBC Result</td>
                                <td>{{ report.RBC_result }}</td>
                            </tr>
                            <tr>
                                <td>PCV Result</td>
                                <td>{{ report.PCV_result }}</td>
                            </tr>
                            <tr>
                                <td>WBC Result</td>
                                <td>{{ report.WBC_result }}</td>
                            </tr>
                            <tr>
                                <td>Neutrophils Result</td>
                                <td>{{ report.Neutrophils_result }}</td>
                            </tr>
                            <tr>
                                <td>Lymphocytes Result</td>
                                <td>{{ report.Lymphocytes_result }}</td>
                            </tr>
                            <tr>
                                <td>Eosinophils Result</td>
                                <td>{{ report.Eosinophils_result }}</td>
                            </tr>
                            <tr>
                                <td>Monocytes Result</td>
                                <td>{{ report.Monocytes_result }}</td>
                            </tr>
                            <tr>
                                <td>Basophils Result</td>
                                <td>{{ report.Basophils_result }}</td>
                            </tr>
                            <tr>
                                <td>Platelet Count</td>
                                <td>{{ report.Platelet_count }}</td>
                            </tr>
                            <tr>
                                <td>Hemoglobin Result</td>
                                <td>{{ report.hemoglobin_result }}</td>
                            </tr>
                            <tr>
                                <td>Blood Pressure Result</td>
                                <td>{{ report.blood_pressure_result }}</td>
                            </tr>
                            <tr>
                                <td>Cholesterol Level Result</td>
                                <td>{{ report.cholesterol_level_result }}</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Blood Sugar Level Result</td>
                                <td>{{ report.blood_sugar_level_result }}</td>
                            </tr>
                            <tr>
                                <td>Insulin Level Result</td>
                                <td>{{ report.insulin_level_result }}</td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>
            <div style="display: flex; justify-content: center; align-items: center; width: 100%; border-bottom: 1px solid black;">
                <h1>Graph</h1>
            </div>
            <br>
            {% autoescape off %}
                {{ plot_div }}
            {% endautoescape %}
            {% comment %} <img src="{{ plot_img_url }}" alt="Gantt Plot" /> {% endcomment %}
            <div style="display: flex; justify-content: center; align-items: center; width: 100%; border-bottom: 1px solid black;">
                <h1>Remarks</h1>
            </div>
            <div style="padding: 20px;">
                {% if report.remarks == '' %}
                    <span>Remarks are not provided by the Doctor</span>
                {% else %}
                    <span>{{ report.remarks }}</span>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock body %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% comment %} 
        <script>
            window.onload = function () {
                /*
                    Plan:
                        When the user clicks the preview button on the completed report page,
                        User will be redirected to the pdf preview page which on load sends ajax request to the server
                        the server generated pdf of this pdf_preview page and gives it to the logged in user
                */
                const test_id = {{ test.id }};
                const test_type = `{{ test.type }}`;
                const receiver_id = {{ receiver.id }} || {{ request.user.id }};
                const url = `http://localhost:8000/pdf_download/test/${test_id}/type/${test_type}/applicant/${receiver_id}/`;
                $.ajax({
                    method: 'GET',
                    url: url,
                    success: function (data) {
                        console.log(data);
                    },
                    error: function (error) {
                        console.log(error);
                    }
                })
            }
        </script> 
    {% endcomment %}
{% endblock script %}
