{% extends 'docAI/layout/doctorLayout.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'docAI/layout.css' %}" />
{% endblock link %}

{% block style %}
<style>
    .main_right_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 10px 10px 10px;
    }

    .main_right_container_heading {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #f2f2f2;
        border-radius: 8px;
    }

    .message_area_top {
        padding: 10px;
        border-bottom: 1px solid #ccc;
        margin-bottom: 10px;
    }

    #message-area {
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px 15px 25px 15px;
        width: 50%;
        height: 80vh;
    }

    .message-container {
        overflow-y: auto;
        height: 95%; /* Adjust as needed */
    }

    .message-container::-webkit-scrollbar {
        display: none;
    }
    .message {
        clear: both;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 8px;
    }
    .sent {
        background-color: #DCF8C6; /* Light green */
        float: right;
    }
    .received {
        background-color: #FFFFFF; /* White */
        float: left;
    }
</style>
{% endblock style %}

{% block title %}
    Chat View
{% endblock title %}

{% block body %}
<div class="main_right_container" style="flex: 1; display: flex;">
    <div class="main_right_container_heading">
        <h1>Chat View</h1>
    </div>
    <div id="message-area" class="messages">
        <div class="message_area_top">
            <span style="font-weight: 600px;"><b>Chat with {{ customer.username }}</b></span>
        </div>
        <div class="message-container">
            {% for message in messages %}
                {% if message.sender == user %}
                    <div class="message sent">{{ message.content }}</div>
                {% else %}
                    <div class="message received">{{ message.content }}</div>
                {% endif %}
            {% endfor %}
        </div>
        <form class="message_form" id="message-form" style="display: flex; justify-content: flex-end; align-items: center; transform: translateY(-50px);">
            {% csrf_token %}
            <input type="text" id="message-input" name="content" placeholder="Type your message" style="margin: 0 5px; flex: 1; padding: 8px 0">
            <button type="submit" style="padding: 10px 16px; border-radius: 4px; border: none; color: white; background-color: #5dbea3">Send</button>
        </form>
    </div>
</div>
{% endblock body %}

{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#message-form').submit(function(event){
                event.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: window.location.href,
                    data: formData,
                    success: function(response){
                        if (response && response.content) {
                            var newMessage = '<div class="message sent">' + response.content + '</div>';
                            $('.message-container').append(newMessage);
                            $('#message-input').val(''); 
                            $('.message-container').scrollTop($('.message-container')[0].scrollHeight);
                        } else {
                            console.log(response)
                            console.log('Invalid response from server');
                        }
                    },
                    error: function(xhr, errmsg, err){
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });
            });
        });

        const fetchMessages = () => {
            $.ajax({
                type: 'GET',
                url: window.location.href,
                success: function(response) {
                    const $responseContainer = $('<div>').html(response);
                        const $messageContainer = $responseContainer.find('.message-container');
                        const $currentMessageContainer = $('.message-container');
                        
                        const newMessagesAdded = $currentMessageContainer.html() !== $messageContainer.html();
                        $currentMessageContainer.html($messageContainer.html());
                        
                        if (newMessagesAdded) {
                            $currentMessageContainer.scrollTop($currentMessageContainer[0].scrollHeight);
                        }
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        };

        setInterval(fetchMessages, 5000);
    </script>
{% endblock script %}
