{% extends 'docAI/layout/layout.html' %} {% load static %} {% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'docAI/layout.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'docAI/test_detail.css' %}" />
{% endblock link %} {% block title %}Test {{ test.id }}{% endblock title %} 

{% block style %}
<style>
    #message-area {
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        border-radius: 16px;
        padding: 10px;
        height: 100%;
        width: 95%;
    }

    .message_area_top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid #ccc;
    }

    .message-container {
        overflow-y: auto;
        height: 82.5%;
        padding-bottom: 30px;
        border-bottom: 1px solid #ccc;
    }

    .message-container::-webkit-scrollbar {
        display: none;
    }
    .message {
        clear: both;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 8px;
    }
    .sent {
        background-color: #DCF8C6; /* Light green */
        float: right;
    }
    .received {
        background-color: #FFFFFF; /* White */
        float: left;
    }
    .messages-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
{% endblock style %}

{% block body %}
    {% if user.user_type == 'customer' or user.user_type == 'Customer' %}
        {% comment %} -------------------CUSTOMER--------------------- {% endcomment %}
        <div class="message_test_div">
            <div class="projects-section">
                <div class="projects-section-header">
                    <p>Test {{ test.id }}</p>
                    <p class="time">Date</p>
                </div>
                <div class="progress-container">
                    <div class="progress" id="progress"></div>
                    <div class="text-wrap active">
                        <div class="circle">1</div>
                        <p class="text">Submission</p>
                    </div>
                    <div class="text-wrap">
                        <div class="circle">2</div>
                        <p class="text">Evaluation</p>
                    </div>
                    <div class="text-wrap">
                        <div class="circle">3</div>
                        <p class="text">Completion</p>
                    </div>
                </div>
                <button class="btn" id="back" disabled>&larr; Back</button>
                <button class="btn" id="next">Next &rarr;</button>
            </div>


            <div class="messages-section" style="padding: 15px 0 15px 0">
                <button class="messages-close">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-x-circle"
                    >
                        <circle cx="12" cy="12" r="10" />
                        <line x1="15" y1="9" x2="9" y2="15" />
                        <line x1="9" y1="9" x2="15" y2="15" />
                    </svg>
                </button>
                <div id="message-area" class="messages">
                    <div class="message_area_top">
                        <span style="font-weight: 600px; font-size: 18px"><b>Chat with {{ test.assigned_to.username }}</b></span>
                    </div>
                    <div class="message-container">
                        {% for message in messages %}
                            {% if message.sender == user %}
                                <div class="message sent">{{ message.content }}</div>
                            {% else %}
                                <div class="message received">{{ message.content }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    
                </div>
                <form class="message_form" id="message-form" style="display: flex; justify-content: space-between; align-items: center; transform: translateY(-52.5px); width: 87.5%;">
                    {% csrf_token %}
                    <input type="text" id="message-input" name="content" placeholder="Type your message" style="margin: 0 5px; flex: 1; padding: 8px 5px">
                    <button type="submit" style="padding: 10px 16px; border-radius: 4px; border: none; color: white; background-color: #5dbea3">Send</button>
                </form>
            </div>
        </div>
    {% endif %}
{% endblock body %}


{% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $('#next').click(function(event) {
            const formData = $('#reportForm').serialize();
            $.ajax({
                type: 'PUT',
                url: window.location.href,
                data: formData,
                success: function(data) {
                    console.log('Form submitted successfully:', data);
                },
                error: function(xhr, status, error) {
                    console.error('Error submitting form:', error);
                }
            });
        });

        $('#back').click(function(event) {
            const formData = $('#reportForm').serialize();
            $.ajax({
                type: 'PUT',
                url: window.location.href,
                data: formData,
                success: function(data) {
                    console.log('Form submitted successfully:', data);
                },
                error: function(xhr, status, error) {
                    console.error('Error submitting form:', error);
                }
            });
        });
    </script>

    <script>
        const progress = document.getElementById('progress')
        const back = document.getElementById('back')
        const next = document.getElementById('next')
        const wraps = document.querySelectorAll('.text-wrap')
        let currentActive = 1

        const reportStatus = "{{ report.status }}";

        if (reportStatus === 'evaluation' || reportStatus === 'Evaluation') {
            currentActive = 2;
        } else if (reportStatus === 'completion' || reportStatus === 'Completed') {
            currentActive = 3;
        }

        update();


        next.addEventListener('click', () => {
            currentActive++
            if(currentActive > wraps.length) {
                currentActive = wraps.length
            }

            update()
        })

        back.addEventListener('click', () => {
            currentActive--
            if(currentActive < 1) {
                currentActive = 1
            }

            update()
        })

        function update() {
            wraps.forEach((wrap, index) => {
                if(index < currentActive) {
                    wrap.classList.add('active')
                } else {
                    wrap.classList.remove('active')
                }
            })

            const actives = document.querySelectorAll('.active')
            progress.style.width = (actives.length - 1) / (wraps.length - 1)* 80 + '%'

            if(currentActive === 1) {
                back.disabled = true
            } else if(currentActive === wraps.length) {
                next.disabled = true
            } else {
                back.disabled = false
                next.disabled = false
            }
        }
    </script>
    <script>
        $(document).ready(function(){
            $('#message-form').submit(function(event){
                event.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: window.location.href,
                    data: formData,
                    success: function(response){
                        if (response && response.content) {
                            var newMessage = '<div class="message sent">' + response.content + '</div>';
                            $('.message-container').append(newMessage);
                            $('#message-input').val(''); // Clear input field
                            // Scroll to the bottom of the message area
                            $('.message-container').scrollTop($('.message-container')[0].scrollHeight);
                        } else {
                            console.log(response)
                            console.log('Invalid response from server');
                        }
                    },
                    error: function(xhr, errmsg, err){
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });
            });
        });

        const fetchMessages = (test_id) => {
            $.ajax({
                type: 'GET',
                url: window.location.href,
                success: function(response) {
                    const $responseContainer = $('<div>').html(response);
                        const $messageContainer = $responseContainer.find('.message-container');
                        const $currentMessageContainer = $('.message-container');
                        
                        const newMessagesAdded = $currentMessageContainer.html() !== $messageContainer.html();
                        $currentMessageContainer.html($messageContainer.html());
                        
                        if (newMessagesAdded) {
                            $currentMessageContainer.scrollTop($currentMessageContainer[0].scrollHeight);
                        }
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        };

        setInterval(fetchMessages, 5000);
    </script>
{% endblock script %}
