{% extends 'docAI/layout/layout.html' %} {% load static %} {% block link %}
<link rel="stylesheet" type="text/css" href="{% static 'docAI/layout.css' %}" />
{% endblock link %} {% block title %}Test {{ test.id }}{% endblock title %} 

{% block style %}
<style>
    #message-area {
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        border-radius: 8px;
        padding: 10px;
        height: 100%;
        width: 95%;
    }

    .message-container {
        overflow-y: auto;
        height: 95%; /* Adjust as needed */
    }

    .message-container::-webkit-scrollbar {
        display: none;
    }
    .message {
        clear: both;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 8px;
    }
    .sent {
        background-color: #DCF8C6; /* Light green */
        float: right;
    }
    .received {
        background-color: #FFFFFF; /* White */
        float: left;
    }
    .messages-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
</style>
{% endblock style %}

{% block body %}
    {% if user.user_type == 'customer' or user.user_type == 'Customer' %}
        {% comment %} -------------------CUSTOMER--------------------- {% endcomment %}
        <div class="message_test_div">
            <div class="projects-section">
                <div class="projects-section-header">
                    <p>Available Tests</p>
                    <p class="time">Date</p>
                </div>
            </div>
            <div class="messages-section">
                <button class="messages-close">
                    <svg
                        xmlns="http://www.w3.org/2000/svg"
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        stroke="currentColor"
                        stroke-width="2"
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        class="feather feather-x-circle"
                    >
                        <circle cx="12" cy="12" r="10" />
                        <line x1="15" y1="9" x2="9" y2="15" />
                        <line x1="9" y1="9" x2="15" y2="15" />
                    </svg>
                </button>
                <div class="projects-section-header" style="height: 7.5%;">
                    <p>Messages</p>
                </div>
                <div id="message-area" class="messages">
                    <div class="message-container">
                        {% for message in messages %}
                            {% if message.sender == user %}
                                <div class="message sent">{{ message.content }}</div>
                            {% else %}
                                <div class="message received">{{ message.content }}</div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    <form class="message_form" id="message-form" style="display: flex; justify-content: flex-end; align-items: center;">
                        {% csrf_token %}
                        <input type="text" id="message-input" name="content" placeholder="Type your message" style="margin: 0 5px; flex: 1; padding: 4px 0">
                        <button type="submit" style="padding: 6px 16px; border-radius: 4px; border: none; color: white; background-color: #5dbea3">Send</button>
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock body %}


{% comment %} {% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function(){
            $('#message-form').submit(function(event){
                event.preventDefault();
                var formData = $(this).serialize();
                $.ajax({
                    type: 'POST',
                    url: window.location.href,
                    data: formData,
                    success: function(response){
                        if (response && response.content) {
                            var newMessage = '<div class="message sent">' + response.content + '</div>';
                            $('.message-container').append(newMessage);
                            $('#message-input').val(''); // Clear input field
                            // Scroll to the bottom of the message area
                            $('.message-container').scrollTop($('.message-container')[0].scrollHeight);
                        } else {
                            console.log(response)
                            console.log('Invalid response from server');
                        }
                    },
                    error: function(xhr, errmsg, err){
                        console.log(xhr.status + ": " + xhr.responseText);
                    }
                });
            });
        });

        const fetchMessages = (test_id) => {
            $.ajax({
                type: 'GET',
                url: window.location.href,
                success: function(response) {
                    const $responseContainer = $('<div>').html(response);
                        const $messageContainer = $responseContainer.find('.message-container');
                        const $currentMessageContainer = $('.message-container');
                        
                        const newMessagesAdded = $currentMessageContainer.html() !== $messageContainer.html();
                        $currentMessageContainer.html($messageContainer.html());
                        
                        if (newMessagesAdded) {
                            $currentMessageContainer.scrollTop($currentMessageContainer[0].scrollHeight);
                        }
                },
                error: function(xhr, errmsg, err) {
                    console.log(xhr.status + ": " + xhr.responseText);
                }
            });
        };

        setInterval(fetchMessages, 5000);
    </script>
{% endblock script %} {% endcomment %}
